PROJECT_NAME=SOCIAL-NETWORD-TDT
VERSION=1.0.0

MONGO_DB_USER=ltphuc1802
MONGO_DB_PASSWORD=dacntt2
MONGO_DB_HOST=da2.8iviw17.mongodb.net
MONGO_DB_PORT=27017
MONGO_DB_NAME=DACNTT2

# TOKEN JWT
JWT_SECRET_KEY=d3762b1c81e218299983466161ae790217a52e336518b562a22f7f0f5562e1ac
ALGORITHM=HS256

CLOUD_NAME=darjwnxvd
CLOUD_API_KEY=576974313684834
API_SECRECT=41VajQhUV7E3l_TmAIAn0vqWL60
API_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=cloudinary://489563953462971:h9X4ACFgEw_C1snwYzvU7QeUT3U@dhw6h4aon

GOOGLE_CLIENT_ID=426416274883-i5379veh6gfj8oir6j0m6tnkmco705n0.apps.googleusercontent.com