.friend_profile_container{
    padding: 20px;
    width: 50vw;
    background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
    background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
}
.listfriend_content{
    height: 50vh;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.listfriend_title{
    width: 100%;
}
.friend_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.friends-profile{
    width: 30%;
}
.bg-custom{
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.card-friend-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}